<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>jdbc-4.2</feature>
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>beanValidation-2.0</feature>
        <feature>mpHealth-2.0</feature>
        <feature>mpConfig-1.3</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <dataSource id="DefaultDataSource" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library"/>
        <properties.postgresql serverName="localhost"
                               portNumber="5432"
                               databaseName="duke"
                               user="${env.POSTGRES_USER}"
                               password="${env.POSTGRES_PASSWORD}"/>
    </dataSource>

    <library id="postgresql-library">
        <file name="${server.config.dir}/postgresql-42.2.8.jar"/>
    </library>

</server>